/*    容器 start    */
$box-space-normal: 20px;
$box-space-small: 10px;

/*    容器 end    */

/*    项目基础架构变量 start    */
$aside-width: 200px;
$header-height: 80px;
$footer-height: 30px;

/*    项目基础架构变量 end    */

// 边框 颜色
$border-color-normal: #dcdfe6;

// 文字 颜色
$text-color-default: #606266; //默认
$text-color-regular: #303133; //常规
$text-color-main: #303133; //主要
$text-color-desc: #909399; //次要
$text-color-white: #fff; //次要
$text-color-primary: #409eff;

// 文字 大小
$text-size-default: 14px;
$text-size-regular: 16px;
$text-size-small: 12px;

// 文字 大小 标题
$text-size-h1: 20px;
$text-size-h2: 12px;
$text-size-h3: 12px;

// 页面背景
$bg-white: #fff;
$bg-mian: #545c64;
